<h1 align="center" class="display-7 mb-5">purchase history</h1>

<div class="row">
  <table id="table" class="table table-striped text-center">
    <thead>
    <tr>
      <th scope="col">Picture</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of page?.content">
        <th class="align-middle" scope="row">
            <img height="100px" src="{{purchase.imageUrl}}">
        </th>
        <td class="align-middle">{{purchase.productName}}</td>
        <td class="align-middle">{{purchase.price * purchase.quantity | currency}}</td>     
        <td class="align-middle">{{purchase.purchaseDate}}</td>
        <td class="align-middle">
          <a routerLink="/evaluate/{{purchase.id}}">Evaluate</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-page [currentPage]="page"></app-page>



