<div class="container">
  <div class="center">
    <div class="form-content">
      <h3 class="center">Password</h3>
      <div class="form-group"></div>
      <form [formGroup]="passwordForm" class="login-form" novalidate>
        <!-- email -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="email" placeholder="Email" class="form-email form-control"
                 id="email" required>
          <!-- error -->
          <div *ngIf="email.invalid && (email.touched || email.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('email','required')">
              Please input your email address</small>
            <small class="alert alert-danger" *ngIf="hasError('email','email')">
              Email address example e.g.jdoe@126.com</small>
          </div>
        </div>

        <!-- password -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="password" placeholder="New password"
                 class="form-password form-control"
                 id="password" required>
          <!-- error -->
          <div *ngIf="password.invalid && (password.touched || password.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('password','required')">
              Please input your password</small>
          </div>
        </div>

        <!-- Confirm password -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="confirm_password" placeholder="New confirm password"
                 class="form-password form-control"
                 id="confirm_password" required>
          <!-- error -->
          <div *ngIf="confirm_password.invalid && (confirm_password.touched || confirm_password.dirty)"
               class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('confirm_password','required')">
              Please Confirm the password again</small>
          </div>
        </div>
      </form>
      <button class="btn btn-large btn-block btn-primary" (click)="confirm()">Confirm</button>
    </div>
  </div>
</div>
