<h1 align="center" class="display-7 mb-5">Evaluate</h1>

<div class="row text-center justify-content-center">
  <div class="col-lg-6 ">
    <div class="card mb-4 ">
      <img height="60%" class="card-img-top" src="">
      <div class="card-body">
        <form [formGroup]="evaluateForm" class="login-form" novalidate>
          <div class="text-left">
            <input hidden name="productId" [value]=111>
            <p class="card-test"><strong>name: </strong>aaa</p>
            <p class="card-text">
              <strong>Price: </strong>
              <label id="price">price</label>
            </p>
            <p class="card-text">
              <strong>Content: </strong>
              <textarea rows="2"></textarea>
            </p>
            <p class="card-text">
            </p>
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
