<h1 align="center" class="display-7 mb-5">Evaluate</h1>

<div class="row text-center justify-content-center">
  <div class="col-lg-4">
    <div class="card mb-4">
      <img class="card-img-top product-image" src="{{evaluate?.imageUrl}}">
      <div class="card-body">
          <div class="text-left">
            <p class="card-test"><strong>Name: </strong>{{evaluate?.productName}}</p>
            <p class="card-text"><strong>Comment Content: </strong>
              <textarea rows="4" id="commentContent" name="commentContent" class="form-control"
                  [(ngModel)]="evaluate.commentContent" ></textarea>
            </p>
          </div>
          <br>
          <button type="submit" class="btn btn-primary btn-lg" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>

