<div class="container">
  <div class="center card mb-4">
    <div class="form-content card-body">
      <h3 class="center">Sign up</h3>
      <form [formGroup]="signupForm" class="login-form" novalidate>
        <!-- username -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="username" placeholder="Username" class="form-email form-control"
                 id="username" required>
          <!-- error -->
          <div *ngIf="username.invalid && (username.touched || username.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('username','required')">
              Please input your username</small>
          </div>
        </div>

        <!-- email -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="email" placeholder="Email" class="form-email form-control"
                 id="email" required (input)="clear()">
          <!-- error -->
          <div *ngIf="email.invalid && (email.touched || email.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('email','required')">
              Email is required.</small>
            <small class="alert alert-danger" *ngIf="hasError('email','email')">
              Email address example e.g.jdoe@126.com</small>
          </div>
          <div *ngIf="error?.errorCode == '400001'" class="promote-error">
            <small class="alert alert-danger" >{{error?.errorMsg}}</small>
          </div>
        </div>

        <!-- password -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="password" placeholder="Password"
                 class="form-password form-control" minlength="6"
                 id="password" required>
          <!-- error -->
          <div *ngIf="password.invalid && (password.touched || password.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('password','required')">
                Password is required.</small>
            <small class="alert alert-danger" *ngIf="password.errors.minlength">
                Password must be at least 6 characters long.</small>
          </div>
        </div>

        <!-- Confirm password -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="confirmPassword" placeholder="Confirm password"
                 class="form-password form-control" minlength="6"
                 id="confirmPassword" required (input)="clear()">
          <!-- error -->
          <div *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)"
               class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('confirmPassword','required')">
                Confirm Password is required.</small>
              <small class="alert alert-danger" *ngIf="confirmPassword.errors.minlength">
                ConfirmPassword must be at least 6 characters long.
              </small>
          </div>
          <div *ngIf="error?.errorCode == '400002'" class="promote-error">
            <small class="alert alert-danger" >{{error?.errorMsg}}</small>
          </div>
        </div>

        <!-- Roles -->
        <div class="form-group">
          <label class="custom-control-inline">Roles</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="buyer"
                   formControlName="optionsRadios" value="1" checked>
            <label class="custom-control-label" for="buyer">buyer</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="seller"
                   formControlName="optionsRadios" value="2">
            <label class="custom-control-label" for="seller">seller</label>
          </div>
        </div>

        <!-- Mobile number -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="mobileNumber" placeholder="Mobile number"
                 class="form-text form-control" id="mobileNumber" required>
          <!-- error -->
          <div *ngIf="mobileNumber.invalid && (mobileNumber.touched || mobileNumber.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('mobileNumber','required')">
              Please input your mobile number</small>
          </div>
        </div>

        <!-- Contact number -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="contactNumber" placeholder="Contact number"
                 class="form-text form-control" id="contactNumber" required>
          <!-- error -->
          <div *ngIf="contactNumber.invalid && (contactNumber.touched || contactNumber.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('contactNumber','required')">
              Please input your contact number </small>
          </div>
        </div>

        <!-- Company name -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="companyName" placeholder="Company name"
                 class="form-text form-control" id="companyName" required>
          <!-- error -->
          <div *ngIf="companyName.invalid && (companyName.touched || companyName.dirty)"
               class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('companyName','required')">
              Please input your company name</small>
          </div>
        </div>

        <!-- Company name -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="briefAboutCompany" placeholder="Brief about company"
                 class="form-text form-control" id="briefAboutCompany">
        </div>

        <!-- Postal address -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="postalAddress" placeholder="Postal address"
                 class="form-text form-control" id="postalAddress">
        </div>
      </form>
      <button class="btn btn-large btn-block btn-primary" (click)="signup()">Sign up</button>
    </div>
  </div>
</div>

