<h1 align="center" class="display-7 mb-5">Add Product</h1>
<div style="width:40%; margin: 25px auto">
  <form [formGroup]="sellerProductAddForm" class="login-form" novalidate>

    <!--Id-->
    <div class="form-group">
      <label for="productId">Code</label>
      <input type="text" class="form-control" id="productId" name="productId" placeholder="Code" required>
    </div>

    <!--Name-->
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" id="productName"
             name="productName" placeholder="Name" required>
    </div>

    <!--Picture-->
    <div class="form-group">
      <label>Picture</label>
      <img src="" class="img-rounded">
      <input type="text" class="form-control" id="productIcon" name="productIcon" placeholder="Picture">
    </div>

    <!--Manufacturer-->
    <div class="form-group">
      <label>Manufacturer</label>
      <select class="custom-select" formControlName="manufacturer" name="manufacturer" id="manufacturer">
        <option>
            IPCS
        </option>
      </select>
    </div>

    <!--Category-->
    <div class="form-group">
      <label for="categoryType">Category</label>
      <select class="custom-select" id="categoryType" name="categoryType"
              required>
        <option [ngValue]=0>Any</option>
        <option [ngValue]=1>TV</option>
        <option [ngValue]=2>iphone</option>
        <option [ngValue]=3>Makeup</option>
      </select>
    </div>

    <!--Price-->
    <div class="form-group">
      <label for="productPrice">Price</label>
      <input class="form-control"
             type="text"
             id="productPrice"
             name="productPrice"
             placeholder="Price"
             required>
    </div>

    <!--Stock-->
    <div class="form-group">
      <label for="productStock">Stock</label>
      <input class="form-control"
             type="text"
             id="productStock"
             name="productStock"
             min="0"
             placeholder="Stock"
             required>
    </div>

    <!--description-->
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" id="productDescription" name="productDescription" placeholder="Description">
    </div>

    <!--Discount-->
    <div class="form-group">
      <label for="productDiscount">Discount</label>
      <input class="form-control"
             type="text"
             id="productDiscount"
             name="productDiscount"
             min="0"
             placeholder="Discount"
             required>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>


</div>
