<div class="container ">
  <div class="center card mb-4 ">
    <div class="form-content card-body">
      <h3 class="center">Sign in</h3>
      <div class="form-group padding-left">
        <span>No account number? Click <a href="/signup">Sign up</a></span>
      </div>
      <form [formGroup]="loginForm" class="login-form" novalidate>
        <!-- user name -->
        <div class="form-group">
          <!-- input -->
          <input type="text" formControlName="username"
                 placeholder="Your email address (e.g.jdoe@126.com)"
                 class="form-email form-control"
                 id="username" required>
          <!-- error -->
          <div *ngIf="username.invalid && (username.touched || username.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('username','required')">
              Please input your email address as username</small>
            <small class="alert alert-danger" *ngIf="hasError('username','email')">
              Email address example e.g.jdoe@126.com</small>
          </div>
        </div>

        <!-- password -->
        <div class="form-group">
          <!-- input -->
          <input type="password" formControlName="password"
                 placeholder="Password"
                 class="form-password form-control"
                 id="password" required>
          <!-- error -->
          <div *ngIf="password.invalid && (password.touched || password.dirty)" class="promote-error">
            <small class="alert alert-danger" *ngIf="hasError('password','required')">
              Please input your password</small>
          </div>
        </div>
        <div class="form-group">
          <a href="/password">Forgot your password?</a>
        </div>
      </form>
      <button class="btn btn-large btn-block btn-primary" (click)="login()">Sign in</button>
    </div>
  </div>
</div>
